<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Controller\Product\View">
        <plugin name="ecommistry_archive_plugin_controller_product_view" type="Ecommistry\ProductArchive\Plugin\Controller\Product\View" sortOrder="100"/>
    </type>
</config>